target/
.idea/inspectionProfiles
*.iml
*.ipr
cmake-build-*/
*.iws
out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
.idea/compiler.xml
*/dbnavigator.xml
*/encodings.xml
*/jarRepositories.xml
*/uiDesigner.xml
*/vcs.xml
*/workspace.xml
.idea/.gitignore
target/generated-test-sources
target/test-classes
*/runConfigurations.xml
.idea/libraries
*/modules.xml
*/misc.xml